* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  color: #fff;
  background-color: #2B2D31;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
